* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #E5E5E5;
}

#logo { /* # para identificador*/
 width: 120px;
 height: 48px;
  margin: 24px;
 margin-left: 40px;
 margin-top: 40px;
}

#text {
  width: 400px;
  height: 800px;
  float: left;
  margin-left: 164px; 
}

#result {
  width: 400px;
  height: 944px;
  margin-left: 1044px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  border-radius: 32px;
  background-color: white;
  padding-left: 100px;
  padding-top: 40px;
}

.crip {
  background-color: #0A3871;
  border-radius: 24px;
  border-style: 32px 67px;
  float: left;
  font-size: 16px;
  width: 328px;
  height: 67px;
  color: white;
  border-color: #0A3871;
  font-weight: bold;
} 

textarea[placeholder="Digite seu texto"] { /*Seletores CSS - Seleção por atributo*/
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  color: darkblue;
}

.descrip {
  background-color: #D8DFE8;
  border-radius: 24px;
  border-style: 32px 67px;
  margin-left: 342px;
  margin-top: -66px;
  float: left;
  font-size: 16px;
  width: 328px;
  height: 67px;
  color:#0A3871;
  border-color: #0A3871;
  font-weight: bold;
}

#copy {
 margin: 222px;
 margin-left: 130px;
 position: center;
 border-radius: 24px;
 border-style: 32px 67px;
 margin-left: 24px;
 float: left;
 font-size: 16px;
 width: 279px;
 height: 67px;
 background-color: white;
 border-color: #0A3871;
}

#img1 {
  margin-top: 90px;
}

.textarea is-info {
  background-color: white;
  border-color: blue;
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-right: 68px;
}

p {
  font-size: 16px;
  color: gray;
  text-align: center;
  margin-right: 68px;
  margin-top: 24px;
}

#parag {
  font-size: 16px;
  text-align: left;
  margin-left: 32px;
  margin-top: -28px;

}

.ref {
  text-align: left;
  font-size: 18px;
  margin-top: 100px;
  position: absolute;
  float: initial;
  border-style:groove;
  margin-left: -5px;
  padding-right: 1590px;
  background-color: white;
}

#infor {
  width: 32px;
  height: 32px;
  padding: 0%;
}

textarea {
  background: none;
  border: none;
  background-color: transparent;
  outline: none;
}